.navbar.navbar-expand-lg.bg-secondary{
   background-color: rgb(62, 13, 83) !important;
}
.list-group{
    --bs-list-group-bg:transparent !important;
    --bs-list-group-border-color: transparent !important;
    --bs-list-group-color: #315f8e !important;
}

i.fa-brands.fa-facebook:hover{
    color: #d8dde1;
}
i.fa-brands.fa-linkedin:hover{
    color: #bad69d;
}
i.fa-brands.fa-instagram:hover{
    color: #c64b15;
}
i.fa-solid.fa-user:hover{
    color: #159130;
}

