
body{
    background-image: url(/assets/img/se.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}





.navbar.navbar-expand-lg.bg-secondary{
   background-color: rgb(40, 46, 58) !important;
}
.list-group{
    --bs-list-group-bg:transparent !important;
    --bs-list-group-border-color: transparent !important;
    --bs-list-group-color: #97fff3 !important;
}

i.fa-brands.fa-facebook:hover{
    color: #d8dde1;
}
i.fa-brands.fa-linkedin:hover{
    color: #bad69d;
}
i.fa-brands.fa-instagram:hover{
    color: #c64b15;
}
i.fa-solid.fa-user:hover{
    color: #159130;
}

#font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(143, 134, 4);
}

section.about{
    margin-left: 20%;
}

section.edu{
    margin-left: 20%;
}

.row{
  
   padding-top: 5% ;
}
