.navbar.navbar-expand-lg.bg-secondary{
   background-color: rgb(62, 13, 83) !important;
}
.list-group{
    --bs-list-group-bg:transparent !important;
    --bs-list-group-border-color: transparent !important;
    --bs-list-group-color: #315f8e !important;
}

